{{#extend "base"}}
    {{#content "head"}}
        <link href="../styles/views/messenger.css" rel="stylesheet" />
    {{/content}}
    {{#content "body"}}
        <aside class="sidebar">
            <div class="sidebar__header">
                {{> search}}
            </div>  
            <div class="channels">
                {{#each channels}}
                    {{> channel this}}
                {{/each}}
            </div>
        </aside>
        {{> chat}}
    {{/content}}
{{/extend}}
